Repository pass-culture/pass-culture-app-native, changes with the owners that CODEOWNERS names for each.
All owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-activation, @pass-culture/jeunes-retention

fix google prod account job condition
  .github/workflows/dev_on_workflow_web_proxy_deploy.yml
Owners: none

(BSR) fix(CI): upgrade proxy deploy node version and fix google account prod condition (#5354)
  .github/workflows/dev_on_workflow_web_proxy_deploy.yml
  server/.nvmrc
Owners: none

(PC-24636) feat(DeeplinksGenerator): Add utm gen to UTM parameters
  __snapshots__/features/internal/marketingAndCommunication/pages/DeeplinksGenerator.native.test.tsx.native-snap
  src/features/internal/marketingAndCommunication/components/DeeplinksGeneratorForm.native.test.tsx
  src/features/internal/marketingAndCommunication/components/DeeplinksGeneratorForm.tsx
  src/features/internal/marketingAndCommunication/config/deeplinksExportConfig.ts
Owners: @pass-culture/jeunes-retention

(PC-24636) feat(utm): Store new utm param in local storage when it exists and user accepted marketing cookies
  src/features/navigation/RootNavigator/linking/__tests__/getStateFromPath.test.ts
  src/features/navigation/RootNavigator/linking/getStateFromPath.ts
  src/libs/storage.ts
  src/libs/utm/storeUtmParams.test.ts
  src/libs/utm/storeUtmParams.ts
Owners: none

(PC-24419) fix(RadioButton): crop the value (#5349)
  __snapshots__/features/favorites/pages/FavoritesSorts.native.test.tsx.native-snap
  __snapshots__/features/internal/marketingAndCommunication/pages/DeeplinksGenerator.native.test.tsx.native-snap
  __snapshots__/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx.native-snap
  __snapshots__/features/search/pages/modals/LocationModal/LocationModal.native.test.tsx.native-snap
  src/ui/components/radioButtons/RadioButton.tsx
Owners: none

(PC-24621) fix(useSearchVenueOffers): fix sentry error (#5353)
  src/api/useSearchVenuesOffer/useSearchVenueOffers.ts
Owners: none

(PC-24636) feat(utm): Add new utm param to cookies
  src/features/cookies/CookiesPolicy.ts
  src/features/cookies/enums.ts
  src/features/cookies/helpers/setMarketingParams.native.test.ts
  src/features/cookies/helpers/startTrackingAcceptedCookies.ts
Owners: @pass-culture/jeunes-acquisition

(PC-24636) feat(utm): Display new param in UTMParameters page
  __snapshots__/features/internal/marketingAndCommunication/pages/UTMParameters.native.test.tsx.native-snap
  ios/Podfile.lock
  src/features/internal/marketingAndCommunication/pages/UTMParameters.tsx
  src/libs/utm/types.ts
  src/libs/utm/useUtmParams.ts
Owners: @pass-culture/jeunes-retention

(PC-24682) ci(yarn): POC cache using mansagroup/gcs-cache-action (#5341)
  .github/workflows/dev_on_push_workflow_main.yml
  .github/workflows/dev_on_workflow_install.yml
  .github/workflows/dev_on_workflow_linter_ts.yml
  .github/workflows/dev_on_workflow_tester.yml
  .github/workflows/dev_on_workflow_ts_prune.yml
  .github/workflows/dev_on_workflow_web_deploy.yml
  .github/workflows/dev_on_workflow_web_proxy_deploy.yml
Owners: none

(BSR) fix(CI): upgrade proxy deploy node version and fix google account prod condition (#5354)
  .github/workflows/dev_on_workflow_web_proxy_deploy.yml
  server/.nvmrc
Owners: none

v1.258.3
  package.json
Owners: none

(PC-24636) feat(share): Add utm_gen param to share features
  src/features/share/components/MessagingApps/InstalledMessagingApps.native.test.tsx
  src/features/share/helpers/getOfferUrl.test.ts
  src/features/share/helpers/getOfferUrl.ts
  src/features/share/helpers/shareApp.ts
  src/features/share/helpers/useShareOffer.native.test.ts
  src/features/share/helpers/useShareVenue.native.test.ts
  src/features/share/helpers/useShareVenue.ts
  src/features/venue/components/VenueBody/VenueBody.native.test.tsx
Owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-retention

(PC-24095) fix(share): Use distinct params for offer and venue id
  src/features/bookOffer/pages/BookingConfirmation.native.test.tsx
  src/features/bookOffer/pages/BookingConfirmation.tsx
  src/features/bookings/components/EndedBookingItem.native.test.tsx
  src/features/bookings/components/EndedBookingItem.tsx
  src/features/bookings/components/OnGoingBookingItem.native.test.tsx
  src/features/bookings/components/OnGoingBookingItem.tsx
  src/features/favorites/components/Favorite.native.test.tsx
  src/features/favorites/components/Favorite.tsx
  src/features/offer/components/OfferBody/OfferBody.analytics.native.test.tsx
  src/features/offer/components/OfferHeader/OfferHeader.native.test.tsx
  src/features/offer/components/OfferHeader/OfferHeader.tsx
  src/features/offer/components/OfferMessagingApps/OfferMessagingApps.tsx
  src/features/venue/components/VenueBody/VenueBody.analytics.native.test.tsx
  src/features/venue/components/VenueHeader/VenueHeader.native.test.tsx
  src/features/venue/components/VenueHeader/VenueHeader.tsx
  src/features/venue/components/VenueMessagingApps/VenueMessagingApps.tsx
  src/libs/analytics/logEventAnalytics.ts
Owners: @pass-culture/jeunes-retention

(PC-24095) fix(screenshot): Use distinct params for offer, venue and booking id
  src/features/navigation/RootNavigator/useScreenshotListener.native.test.ts
  src/features/navigation/RootNavigator/useScreenshotListener.ts
  src/libs/analytics/logEventAnalytics.ts
Owners: none

feat: add LocationWidget
  src/features/search/components/SearchHeader/SearchHeader.tsx
Owners: @pass-culture/jeunes-retention

test: add test and update snapshot
  __snapshots__/features/search/components/SearchHeader/SearchHeader.native.test.tsx.native-snap
  __snapshots__/features/search/pages/Search/Search.native.test.tsx.native-snap
  src/features/search/components/SearchHeader/SearchHeader.native.test.tsx
  src/features/search/pages/Search/Search.native.test.tsx
Owners: @pass-culture/jeunes-retention

test: add featureFlag mock
  src/features/search/components/SearchHeader/SearchHeader.web.test.tsx
  src/features/search/pages/Search/Search.web.test.tsx
Owners: @pass-culture/jeunes-retention

feat: add shouldDisplayLocationWidget condition value
  src/features/search/components/SearchHeader/SearchHeader.tsx
Owners: @pass-culture/jeunes-retention

(PC-24636) feat(utm): Add new utm param to differentiate marketing and product campaigns (#5355)
  __snapshots__/features/internal/marketingAndCommunication/pages/DeeplinksGenerator.native.test.tsx.native-snap
  __snapshots__/features/internal/marketingAndCommunication/pages/UTMParameters.native.test.tsx.native-snap
  __snapshots__/ui/components/inputs/TextInput.native.test.tsx.native-snap
  ios/Podfile.lock
  src/features/cookies/CookiesPolicy.ts
  src/features/cookies/enums.ts
  src/features/cookies/helpers/setMarketingParams.native.test.ts
  src/features/cookies/helpers/startTrackingAcceptedCookies.ts
  src/features/internal/marketingAndCommunication/components/DeeplinksGeneratorForm.native.test.tsx
  src/features/internal/marketingAndCommunication/components/DeeplinksGeneratorForm.tsx
  src/features/internal/marketingAndCommunication/config/deeplinksExportConfig.ts
  src/features/internal/marketingAndCommunication/pages/UTMParameters.tsx
  src/features/navigation/RootNavigator/linking/__tests__/getStateFromPath.test.ts
  src/features/navigation/RootNavigator/linking/getStateFromPath.ts
  src/features/share/components/MessagingApps/InstalledMessagingApps.native.test.tsx
  src/features/share/helpers/getOfferUrl.test.ts
  src/features/share/helpers/getOfferUrl.ts
  src/features/share/helpers/shareApp.ts
  src/features/share/helpers/useShareOffer.native.test.ts
  src/features/share/helpers/useShareVenue.native.test.ts
  src/features/share/helpers/useShareVenue.ts
  src/features/venue/components/VenueBody/VenueBody.native.test.tsx
  src/libs/storage.ts
  src/libs/utm/storeUtmParams.test.ts
  src/libs/utm/storeUtmParams.ts
  src/libs/utm/types.ts
  src/libs/utm/useUtmParams.ts
  src/ui/components/inputs/BaseTextInput.native.test.tsx
  src/ui/components/inputs/BaseTextInput.tsx
  src/ui/components/inputs/TextInput.native.test.tsx
  src/ui/components/inputs/types.ts
Owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-retention

(BSR) fix(doc): update iOS installation doc
  doc/installation/iOS.md
Owners: none

feat: can press place result without dismissing the keyboard
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedPlaces.tsx
  src/ui/components/TouchableOpacity.tsx
Owners: @pass-culture/jeunes-retention

(PC-23725) feat(location): add location widget on search page (#5330)
  __snapshots__/features/search/components/SearchHeader/SearchHeader.native.test.tsx.native-snap
  __snapshots__/features/search/pages/Search/Search.native.test.tsx.native-snap
  src/features/home/components/headers/HomeHeader.tsx
  src/features/location/components/LocationWidget.native.test.tsx
  src/features/location/components/LocationWidget.stories.tsx
  src/features/location/components/LocationWidget.tsx
  src/features/location/components/LocationWidget.web.test.tsx
  src/features/search/components/SearchHeader/SearchHeader.native.test.tsx
  src/features/search/components/SearchHeader/SearchHeader.tsx
  src/features/search/components/SearchHeader/SearchHeader.web.test.tsx
  src/features/search/pages/Search/Search.native.test.tsx
  src/features/search/pages/Search/Search.web.test.tsx
Owners: @pass-culture/jeunes-activation, @pass-culture/jeunes-retention

(PC-23701) feat(locationModal): add UX improvements (#5356)
  src/features/location/components/LocationModal.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedPlaces.tsx
  src/ui/components/BottomContentPage.tsx
  src/ui/components/TouchableOpacity.tsx
Owners: @pass-culture/jeunes-retention

refactor: remove unnecessary useCallback as nobody can re-render because of function id change
  src/features/location/components/LocationModal.tsx
Owners: none

feat: extract and adapt venue result logic from suggestedPlacesOrVenues
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.native.test.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.web.test.tsx
Owners: @pass-culture/jeunes-retention

fix: update icon to include margins in the icon as Agathe updated it
  src/ui/svg/icons/LocationBuildingFilled.tsx
Owners: none

feat: add modal to filter by venue
  src/features/internal/cheatcodes/pages/Navigation/Navigation.tsx
  src/features/search/pages/modals/VenueModal/VenueModal.tsx
Owners: @pass-culture/jeunes-retention

style: fix typo in comment
  src/ui/theme/useCustomSafeInsets.tsx
Owners: none

test: move a11y test from a component to its modal
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.web.test.tsx
  src/features/search/pages/modals/VenueModal/VenueModal.web.test.tsx
  src/tests/utils/web.tsx
Owners: @pass-culture/jeunes-retention

fix: handle keyboard in the venue modal
  src/features/search/pages/modals/VenueModal/VenueModal.tsx
Owners: @pass-culture/jeunes-retention

test: add test for venue modal
  __snapshots__/features/search/pages/modals/VenueModal/VenueModal.native.test.tsx.native-snap
  src/features/search/pages/modals/VenueModal/VenueModal.native.test.tsx
Owners: @pass-culture/jeunes-retention

feat: add autofocus to the text input as it is the only input in the modal
  src/features/search/pages/modals/VenueModal/VenueModal.tsx
Owners: @pass-culture/jeunes-retention

prune: remove unnecessary Fragment
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
Owners: @pass-culture/jeunes-retention

refactor: remove notion of hit from algolia
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
Owners: @pass-culture/jeunes-retention

refactor: remove notion of Place in naming
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
Owners: @pass-culture/jeunes-retention

refactor: extract conditions in variables
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
Owners: @pass-culture/jeunes-retention

feat: handle loading with a spinner
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
Owners: @pass-culture/jeunes-retention

refactor: name condition to simplify
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
Owners: @pass-culture/jeunes-retention

refactor: extract common component in its own file
  src/features/search/pages/SuggestedPlacesOrVenues/HiddenAccessibleResultNumber.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedPlaces.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
Owners: @pass-culture/jeunes-retention

refactor: factorize result component
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedPlaces.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedResult.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
Owners: @pass-culture/jeunes-retention

CODEOWNERS:

src/features/auth/                                   @pass-culture/jeunes-acquisition
src/features/birthdayNotifications/                  @pass-culture/jeunes-activation
src/features/bookings/                               @pass-culture/jeunes-retention
src/features/bookOffer/                              @pass-culture/jeunes-retention
src/features/cookies/                                @pass-culture/jeunes-acquisition
src/features/culturalSurvey/                         @pass-culture/jeunes-activation
src/features/deeplinks/                              @pass-culture/jeunes-retention
src/features/favorites/                              @pass-culture/jeunes-retention
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/home/                                   @pass-culture/jeunes-activation
src/features/identityCheck/                          @pass-culture/jeunes-activation
src/features/internal/marketingAndCommunication/     @pass-culture/jeunes-retention
src/features/notifications/                          @pass-culture/jeunes-acquisition
src/features/offer/                                  @pass-culture/jeunes-retention
src/features/profile/                                @pass-culture/jeunes-acquisition
src/features/search/                                 @pass-culture/jeunes-retention
src/features/share/                                  @pass-culture/jeunes-acquisition
src/features/trustedDevice                           @pass-culture/jeunes-acquisition
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/venue/                                  @pass-culture/jeunes-retention
