Repository pass-culture/pass-culture-app-native, changes with the owners that CODEOWNERS names for each.
All owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-activation, @pass-culture/jeunes-retention

(PC-24026) use newer version of actions/checkout
  .github/workflows/dev_on_workflow_update_jira_issues.yml
Owners: none

(PC-24772) feat(app): add store icon
  src/ui/svg/icons/bicolor/Store.tsx
  src/ui/svg/icons/bicolor/exports/venueTypesIcons.ts
Owners: none

(PC-24772) feat(venue): add distribution store venue type
  src/api/gen/api.ts
  src/features/search/enums.ts
  src/libs/parsers/venueType.ts
Owners: @pass-culture/jeunes-retention

v1.258.5
  package.json
Owners: none

(PC-24827) fix(modal): fix click on suggestion result (#5374)
  src/features/location/components/LocationModal.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedPlaces.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedResult.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
  src/ui/components/TouchableOpacity.tsx
Owners: @pass-culture/jeunes-retention

refactor: extract location search input
  src/features/location/components/LocationModal.tsx
  src/shared/location/LocationSearchInput.tsx
Owners: none

(PC-24620) feat(offer): add batch events (#5368)
  src/features/offer/pages/Offer/Offer.analytics.native.test.tsx
  src/features/offer/pages/Offer/Offer.tsx
  src/libs/react-native-batch/enums.ts
Owners: @pass-culture/jeunes-retention

(PC-21434) fix(theme): Nest supported browser page inside theme provider since it uses styled components
  src/App.web.tsx
Owners: none

(PC-21434) feat(web): Add Brave to supported browsers
  src/web/SupportedBrowsersGate.tsx
Owners: none

(PC-21434) test(BrowsersGate): Add test for supported browsers
  __snapshots__/web/SupportedBrowsersGate.native.test.tsx.native-snap
  src/web/SupportedBrowsersGate.native.test.tsx
Owners: none

(PC-21434) refactor(SupportedBrowsers): Place constants inside component to be able to mock them
  src/features/internal/cheatcodes/pages/NavigationNotScreensPages.tsx
  src/web/SupportedBrowsersGate.tsx
Owners: none

(BSR) chore(deps): update Podfile.lock
  ios/Podfile.lock
Owners: none

(PC-24026) ci(GA): update jira tickets with commit hash, number and repository when pushing to master (#5375)
  .github/workflows/README.md
  .github/workflows/dev_on_push_workflow_main.yml
  .github/workflows/dev_on_workflow_update_jira_issues.yml
  .jira.d/templates/edit
  .jira.d/templates/view
  .jira.d/templates/viewTicketType
Owners: none

(PC-24077) feat(security): Add CSP plugin for webpack to block unknown scripts
  package.json
  web/config/webpack.config.js
  yarn.lock
Owners: none

(PC-24077) refactor(smartbanner): Query footer and smartbanner once
  public/index.html
Owners: none

(PC-24077) feat(smartbanner): Add appsflyer smart banner
  .env.integration
  .env.production
  .env.staging
  .env.testing
  public/index.html
Owners: none

(PC-24077) fix(tabBar): Show tabBar when smartbanner is displayed
  public/index.html
Owners: none

(PC-24077) fix(proxy): Ignore hashes in CSP content in test
  server/src/index.test.ts
Owners: none

(PC-24077) fix(smartbanner): Disconnect observer when smartbanner is closed
  public/index.html
Owners: none

(PC-24077) fix(observer): Pass observer instance to disconnect
  public/index.html
Owners: none

Add header height in opacity transition so it is dynamic
  src/ui/animations/helpers/useOpacityTransition.ts
Owners: none

Add a space to prepare future animation
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

Add types for animated header (should have been added in another type)
  src/features/home/types.ts
Owners: @pass-culture/jeunes-activation

Switch in animated header if ios device
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

Add the animated header based on existing one (dimensions are wrong)
  src/features/home/components/headers/AnimatedCategoryThematicHomeHeader.tsx
Owners: @pass-culture/jeunes-activation

Export and reuse height of animation
  src/features/home/components/headers/AnimatedCategoryThematicHomeHeader.tsx
  src/features/home/components/headers/AnimatedHighlightThematicHomeHeader.tsx
Owners: @pass-culture/jeunes-activation

Add top margin
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

Share height with animated headers
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

(PC-24077) feat(smartbanner): Add appsflyer smart banner (#5342)
  .env.integration
  .env.production
  .env.staging
  .env.testing
  package.json
  public/index.html
  server/src/index.test.ts
  web/config/webpack.config.js
  yarn.lock
Owners: none

(PC-21434) fix(web): Fix webapp on Brave (#5373)
  __snapshots__/web/SupportedBrowsersGate.native.test.tsx.native-snap
  src/App.web.tsx
  src/features/internal/cheatcodes/pages/NavigationNotScreensPages.tsx
  src/web/SupportedBrowsersGate.native.test.tsx
  src/web/SupportedBrowsersGate.tsx
Owners: none

v1.259.2
  package.json
Owners: none

(BSR) chore(deps): update Podfile.lock (#5379)
  ios/Podfile.lock
Owners: none

(PC-24772) feat(venue): add distribution store venue type (#5376)
  src/api/gen/api.ts
  src/features/search/enums.ts
  src/libs/parsers/venueType.ts
  src/ui/svg/icons/bicolor/Store.tsx
  src/ui/svg/icons/bicolor/exports/venueTypesIcons.ts
Owners: @pass-culture/jeunes-retention

feat: move filter button to the list of filters instead of at the right of the search bar
  src/features/search/components/SearchBox/SearchBox.tsx
  src/features/search/components/SearchResults/SearchResults.tsx
Owners: @pass-culture/jeunes-retention

feat: update filter button ui
  src/features/search/components/Buttons/FilterButton/FilterButton.tsx
  src/ui/components/Badge/Badge.tsx
Owners: @pass-culture/jeunes-retention

refactor: pass size to icon through .styled
  src/features/search/components/Buttons/FilterButton/FilterButton.tsx
Owners: @pass-culture/jeunes-retention

feat: update ui for filters in the list
  src/features/search/components/Buttons/SingleFilterButton/SingleFilterButton.tsx
  src/features/search/components/SearchResults/SearchResults.tsx
Owners: @pass-culture/jeunes-retention

(PC-23701) fix(CreditModal): remove credit modal for beneficiary +18 without a numeric ceiling
  src/features/profile/components/CreditExplanation/useGetCreditModal.test.ts
  src/features/profile/components/CreditExplanation/useGetCreditModal.ts
  src/features/profile/fixtures/domainsCredit.ts
Owners: @pass-culture/jeunes-acquisition

test: fix dependency of tests
  src/features/search/components/SearchResults/SearchResults.native.test.tsx
Owners: @pass-culture/jeunes-retention

test: move filter button to where it's used now
  src/features/search/components/SearchBox/SearchBox.native.test.tsx
  src/features/search/components/SearchResults/SearchResults.native.test.tsx
Owners: @pass-culture/jeunes-retention

CODEOWNERS:

src/features/auth/                                   @pass-culture/jeunes-acquisition
src/features/birthdayNotifications/                  @pass-culture/jeunes-activation
src/features/bookings/                               @pass-culture/jeunes-retention
src/features/bookOffer/                              @pass-culture/jeunes-retention
src/features/cookies/                                @pass-culture/jeunes-acquisition
src/features/culturalSurvey/                         @pass-culture/jeunes-activation
src/features/deeplinks/                              @pass-culture/jeunes-retention
src/features/favorites/                              @pass-culture/jeunes-retention
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/home/                                   @pass-culture/jeunes-activation
src/features/identityCheck/                          @pass-culture/jeunes-activation
src/features/internal/marketingAndCommunication/     @pass-culture/jeunes-retention
src/features/notifications/                          @pass-culture/jeunes-acquisition
src/features/offer/                                  @pass-culture/jeunes-retention
src/features/profile/                                @pass-culture/jeunes-acquisition
src/features/search/                                 @pass-culture/jeunes-retention
src/features/share/                                  @pass-culture/jeunes-acquisition
src/features/trustedDevice                           @pass-culture/jeunes-acquisition
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/venue/                                  @pass-culture/jeunes-retention
