Repository pass-culture/pass-culture-app-native, changes with the owners that CODEOWNERS names for each.
All owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-activation, @pass-culture/jeunes-retention

CODEOWNERS:

src/features/auth/                                   @pass-culture/jeunes-acquisition
src/features/birthdayNotifications/                  @pass-culture/jeunes-activation
src/features/bookings/                               @pass-culture/jeunes-retention
src/features/bookOffer/                              @pass-culture/jeunes-retention
src/features/cookies/                                @pass-culture/jeunes-acquisition
src/features/culturalSurvey/                         @pass-culture/jeunes-activation
src/features/deeplinks/                              @pass-culture/jeunes-retention
src/features/favorites/                              @pass-culture/jeunes-retention
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/home/                                   @pass-culture/jeunes-activation
src/features/identityCheck/                          @pass-culture/jeunes-activation
src/features/internal/marketingAndCommunication/     @pass-culture/jeunes-retention
src/features/notifications/                          @pass-culture/jeunes-acquisition
src/features/offer/                                  @pass-culture/jeunes-retention
src/features/profile/                                @pass-culture/jeunes-acquisition
src/features/search/                                 @pass-culture/jeunes-retention
src/features/share/                                  @pass-culture/jeunes-acquisition
src/features/trustedDevice                           @pass-culture/jeunes-acquisition
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/venue/                                  @pass-culture/jeunes-retention

(PC-24419) feat(featureFlag): add a featureFlag (#5363)
  __snapshots__/features/search/components/sections/Category/Category.native.test.tsx.native-snap
  __snapshots__/features/search/pages/SearchFilter/SearchFilter.native.test.tsx.native-snap
  __snapshots__/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx.native-snap
  src/features/search/components/FilterRow/FilterRow.tsx
  src/features/search/components/sections/Category/Category.native.test.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesModal.web.test.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesSection.tsx
  src/libs/algolia/fetchAlgolia/fetchSearchResults/fetchSearchResults.test.ts
  src/libs/algolia/fetchAlgolia/fetchSearchResults/fetchSearchResults.ts
  src/libs/firebase/firestore/featureFlags/getFeatureFlag.native.test.ts
  src/libs/firebase/firestore/featureFlags/useFeatureFlag.native.test.ts
  src/libs/firebase/firestore/types.ts
  src/ui/components/radioButtons/RadioButton.tsx
Owners: @pass-culture/jeunes-retention

v1.258.4
  package.json
Owners: none

refactor: factorize introduction component in both header
  src/features/home/components/headers/AnimatedHighlightThematicHomeHeader.tsx
  src/features/home/components/headers/HighlightThematicHomeHeader.tsx
  src/features/home/components/headers/highlightThematic/Introduction.tsx
Owners: @pass-culture/jeunes-activation

fix: show introduction after the animated header instead of in the animated header
  src/features/home/components/headers/AnimatedHighlightThematicHomeHeader.tsx
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

refactor: fix typo
  src/features/home/components/headers/AnimatedHighlightThematicHomeHeader.tsx
Owners: @pass-culture/jeunes-activation

test: add test for the introduction
  src/features/home/pages/ThematicHome.native.test.tsx
Owners: @pass-culture/jeunes-activation

(PC-24026) github action: copy/paste update_jira_issues from pass-culture-main
  .github/workflows/dev_on_workflow_update_jira_issues.yml
Owners: none

(PC-24026) update jira: add repository field to jira issue
  .github/workflows/dev_on_workflow_update_jira_issues.yml
Owners: none

(PC-24026) copy .jira.d folder from pass-culture-main
  .jira.d/templates/edit
  .jira.d/templates/view
  .jira.d/templates/viewTicketType
Owners: none

(PC-24026) remove github action concurrency
  .github/workflows/dev_on_push_update_jira_issues.yml
Owners: none

(PC-24026) rename update jira issues workflow
  .github/workflows/dev_on_push_update_jira_issues.yml
Owners: none

(PC-24026) update github action documentation
  .github/workflows/README.md
Owners: none

(PC-24026) get jira secrets from GCP
  .github/workflows/dev_on_push_update_jira_issues.yml
Owners: none

(PC-24026) extract jira custom fields in environment variables for more readability
  .github/workflows/dev_on_push_update_jira_issues.yml
Owners: none

(PC-24026) edit template custom field repo
  .jira.d/templates/edit
Owners: none

(PC-24026) remove unnecessary quotes
  .github/workflows/dev_on_push_update_jira_issues.yml
Owners: none

(PC-24026) add repository condition before setting impropre value
  .github/workflows/dev_on_push_update_jira_issues.yml
Owners: none

(PC-24026) put JIRA_BASE_URL in env
  .github/workflows/dev_on_push_update_jira_issues.yml
Owners: none

(PC-24652) ci(linterts): do not use actions/cache@v3
  .github/workflows/dev_on_workflow_linter_ts.yml
Owners: none

:sparkles: (Timer) Create useTimer hook
  src/libs/hooks/useTimer.native.test.ts
  src/libs/hooks/useTimer.ts
Owners: none

:sparkles: (EmailResend) Add timer in between two request of email
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.tsx
Owners: @pass-culture/jeunes-acquisition

(PC-24618) refactor(search): more explicit highlight functions
  src/features/search/helpers/addHighlightedAttribute/addHighlightedAttribute.ts
  src/features/search/helpers/getHighlightedQuery/getHighlightedQuery.test.ts
  src/features/search/helpers/getHighlightedQuery/getHighlightedQuery.ts
Owners: @pass-culture/jeunes-retention

(BSR) fix(doc): fix links in doc
  README.md
  doc/installation/setup.md
  doc/pull-request.md
Owners: none

(PC-24652) ci(linterts): do not use actions/cache@v3 (#5371)
  .github/workflows/dev_on_workflow_linter_ts.yml
Owners: none

(BSR) fix(doc): fix links in doc (#5369)
  README.md
  doc/installation/setup.md
  doc/pull-request.md
Owners: none

:bug: (useTimer) fix test
  src/libs/hooks/useTimer.native.test.ts
Owners: none

:pencil2: (useTimer) rename params
  src/libs/hooks/useTimer.ts
Owners: none

(PC-24620) feat(offer): add batch events
  src/features/offer/pages/Offer/Offer.analytics.native.test.tsx
  src/features/offer/pages/Offer/Offer.tsx
  src/libs/react-native-batch/enums.ts
Owners: @pass-culture/jeunes-retention

(PC-24698) fix(StoreReview): Do not show review if app is in background (#5370)
  src/libs/hooks/__tests__/useShowReview.native.test.tsx
  src/libs/hooks/useShowReview.ts
Owners: none

(PC-24749) fix(ios): fix zoom in highlight thematic home (#5366)
  src/features/home/components/headers/AnimatedHighlightThematicHomeHeader.tsx
  src/features/home/components/headers/HighlightThematicHomeHeader.tsx
  src/features/home/components/headers/highlightThematic/Introduction.tsx
  src/features/home/pages/ThematicHome.native.test.tsx
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

(PC-24618) feat(search): use item history highlight (#5361)
  __snapshots__/features/search/components/Highlight/Highlight.native.test.tsx.native-snap
  src/features/search/components/Highlight/Highlight.native.test.tsx
  src/features/search/components/Highlight/Highlight.tsx
  src/features/search/components/SearchHistory/SearchHistory.native.test.tsx
  src/features/search/components/SearchHistory/SearchHistory.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.native.test.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.tsx
  src/features/search/helpers/addHighlightedAttribute/addHighlightedAttribute.test.ts
  src/features/search/helpers/addHighlightedAttribute/addHighlightedAttribute.ts
  src/features/search/helpers/getHighlightedQuery/getHighlightedQuery.test.ts
  src/features/search/helpers/getHighlightedQuery/getHighlightedQuery.ts
  src/features/search/types.ts
Owners: @pass-culture/jeunes-retention

(PC-24621) fix(useSearchVenueOffers): fix sentry error (#5353)
  src/api/useSearchVenuesOffer/useSearchVenueOffers.ts
Owners: none

fix: user can click on suggestion because gesture handler is broken on Android
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedResult.tsx
Owners: @pass-culture/jeunes-retention

refactor: move the platform select to the componnt to protect its usage, as it doesn't work an Android at all
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedResult.tsx
  src/ui/components/TouchableOpacity.tsx
Owners: @pass-culture/jeunes-retention

fix: add eslint disable for a warning as we don't want the useEffect to be triggered on place selection
  src/features/location/components/LocationModal.tsx
Owners: none

feat: update icon color for suggested place/venue
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedPlaces.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
Owners: @pass-culture/jeunes-retention

(PC-24594) feat(EmailResend): add timer in resend email modal (#5372)
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.tsx
  src/libs/hooks/useTimer.native.test.ts
  src/libs/hooks/useTimer.ts
Owners: @pass-culture/jeunes-acquisition

(PC-24026) add jira workflow to main workflow
  .github/workflows/README.md
  .github/workflows/dev_on_push_workflow_main.yml
  .github/workflows/dev_on_workflow_update_jira_issues.yml
Owners: none

(PC-24026) fix JIRA_BASE_URL
  .github/workflows/dev_on_workflow_update_jira_issues.yml
Owners: none

(PC-24026) update jira issues: fetch last commit
  .github/workflows/dev_on_workflow_update_jira_issues.yml
Owners: none
