Repository pass-culture/pass-culture-app-native, changes with the owners that CODEOWNERS names for each.
All owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-activation, @pass-culture/jeunes-retention

:recycle: (Banner) Put all banners in ui/banners folder
  src/features/auth/pages/signup/SetBirthday/SetBirthday.tsx
  src/features/bookOffer/components/BookingDetails.tsx
  src/features/identityCheck/components/modals/ParentInformationModal.tsx
  src/features/identityCheck/pages/Stepper.tsx
  src/features/identityCheck/pages/identification/educonnect/EduConnectForm.web.tsx
  src/features/identityCheck/pages/profile/SetName.tsx
  src/features/internal/cheatcodes/pages/AppComponents/AppComponents.tsx
  src/features/profile/components/Badges/IdentityCheckPendingBadge.tsx
  src/features/profile/components/Badges/SubscriptionMessageBadge.tsx
  src/features/profile/components/Badges/YoungerBadge.tsx
  src/features/profile/pages/PersonalData/PersonalData.tsx
  src/features/search/components/SearchListHeader/SearchListHeader.tsx
  src/features/search/pages/modals/PriceModal/PriceModal.tsx
  src/features/trustedDevice/components/DeviceInformationsBanner.tsx
  src/features/tutorial/pages/profileTutorial/ProfileTutorialAgeInformation.tsx
  src/ui/components/banners/ErrorBanner.stories.tsx
  src/ui/components/banners/ErrorBanner.tsx
  src/ui/components/banners/GenericColoredBanner.stories.tsx
  src/ui/components/banners/GenericColoredBanner.tsx
  src/ui/components/banners/InfoBanner.stories.tsx
  src/ui/components/banners/InfoBanner.tsx
  src/ui/components/inputs/EmailInputWithSpellingHelp/SpellingHelp.tsx
Owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-retention, @pass-culture/jeunes-activation

:sparkles: (EmailValidation) Create hook to fetch email validation remaining resends
  src/features/auth/api/useEmailValidationRemainingResend.ts
  src/libs/queryKeys.ts
Owners: @pass-culture/jeunes-acquisition

:sparkles: (Banner) Create AlertBanner
  src/theme/index.ts
  src/ui/components/banners/AlertBanner.stories.tsx
  src/ui/components/banners/AlertBanner.tsx
  src/ui/svg/icons/BicolorWarning.tsx
  src/ui/theme/colors.ts
Owners: none

:sparkles: (EmailResend) Create EmailAttemptsLeft component
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailAttemptsLeft.stories.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailAttemptsLeft.tsx
Owners: @pass-culture/jeunes-acquisition

:recycle: (ResendEmail) Add onSuccess props to useResendEmailValidationHook
  src/features/auth/api/useResendEmailValidation.ts
Owners: @pass-culture/jeunes-acquisition

:white_check_mark: (EmailResendModal) use msw in test
  __snapshots__/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx.native-snap
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx
Owners: @pass-culture/jeunes-acquisition

:sparkles: (EmailResend) Add attempts left info in modal
  __snapshots__/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx.native-snap
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.tsx
Owners: @pass-culture/jeunes-acquisition

:recycle: (AlertBanner) remove useless const declaration
  src/ui/components/banners/AlertBanner.tsx
Owners: none

:recycle: (EmailAttemptsLeft) remove useless styled component
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailAttemptsLeft.tsx
Owners: @pass-culture/jeunes-acquisition

:white_check_mark: (EmailResendModal) fix render function on error
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx
Owners: @pass-culture/jeunes-acquisition

(PC-24676) feat(tutorial): Redirect to home on button press
  __snapshots__/features/tutorial/pages/NonEligibleModal.native.test.tsx.native-snap
  src/features/tutorial/pages/NonEligibleModal.native.test.tsx
  src/features/tutorial/pages/NonEligibleModal.tsx
Owners: @pass-culture/jeunes-acquisition

(PC-24698) refactor(tests): Render hook instead of component
  src/libs/hooks/__tests__/useShowReview.native.test.tsx
Owners: none

(PC-24698) refactor(tests): Rename incoherent tests
  src/libs/hooks/__tests__/useShowReview.native.test.tsx
Owners: none

(PC-24095) fix(analytics): Use distinct params for offer, venue and booking id (#5357)
  src/features/bookOffer/pages/BookingConfirmation.native.test.tsx
  src/features/bookOffer/pages/BookingConfirmation.tsx
  src/features/bookings/components/EndedBookingItem.native.test.tsx
  src/features/bookings/components/EndedBookingItem.tsx
  src/features/bookings/components/OnGoingBookingItem.native.test.tsx
  src/features/bookings/components/OnGoingBookingItem.tsx
  src/features/favorites/components/Favorite.native.test.tsx
  src/features/favorites/components/Favorite.tsx
  src/features/navigation/RootNavigator/useScreenshotListener.native.test.ts
  src/features/navigation/RootNavigator/useScreenshotListener.ts
  src/features/offer/components/OfferBody/OfferBody.analytics.native.test.tsx
  src/features/offer/components/OfferHeader/OfferHeader.native.test.tsx
  src/features/offer/components/OfferHeader/OfferHeader.tsx
  src/features/offer/components/OfferMessagingApps/OfferMessagingApps.tsx
  src/features/venue/components/VenueBody/VenueBody.analytics.native.test.tsx
  src/features/venue/components/VenueHeader/VenueHeader.native.test.tsx
  src/features/venue/components/VenueHeader/VenueHeader.tsx
  src/features/venue/components/VenueMessagingApps/VenueMessagingApps.tsx
  src/libs/analytics/logEventAnalytics.ts
Owners: @pass-culture/jeunes-retention

:sparkles: (EmailResend) Add hour in no attempt left banner text
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.tsx
Owners: @pass-culture/jeunes-acquisition

(BSR) fix(doc): update iOS installation doc (#5358)
  doc/installation/iOS.md
Owners: none

Revert "(PC-24682) ci(yarn): POC cache using mansagroup/gcs-cache-action (#5341)"
  .github/workflows/dev_on_push_workflow_main.yml
  .github/workflows/dev_on_workflow_install.yml
  .github/workflows/dev_on_workflow_linter_ts.yml
  .github/workflows/dev_on_workflow_tester.yml
  .github/workflows/dev_on_workflow_ts_prune.yml
  .github/workflows/dev_on_workflow_web_deploy.yml
  .github/workflows/dev_on_workflow_web_proxy_deploy.yml
Owners: none

v1.259.1
  package.json
Owners: none

test(web): fix act warning
  src/features/search/pages/modals/VenueModal/VenueModal.web.test.tsx
Owners: @pass-culture/jeunes-retention

search/locationmodal: improve position update condition
  src/features/search/pages/modals/LocationModal/LocationModal.tsx
Owners: @pass-culture/jeunes-retention

home: remove isBeneficiary condition to refetch offers and venues
  src/features/home/api/useGetOffersData.ts
  src/features/home/api/useGetVenuesData.ts
Owners: @pass-culture/jeunes-activation

home modules: update refetch condition to location coordinates
  src/features/home/api/useGetOffersData.ts
  src/features/home/api/useGetVenuesData.ts
  src/features/home/api/useVideoOffers.ts
  src/features/home/components/modules/RecommendationModule.tsx
Owners: @pass-culture/jeunes-activation

(PC-24676) feat(tutorial): Redirect to home on button press (#5360)
  __snapshots__/features/tutorial/pages/NonEligibleModal.native.test.tsx.native-snap
  src/features/tutorial/pages/NonEligibleModal.native.test.tsx
  src/features/tutorial/pages/NonEligibleModal.tsx
Owners: @pass-culture/jeunes-acquisition

(PC-24618) feat(search): custom function to manage item history highlight
  src/features/search/helpers/addHighlightedAttribute/addHighlightedAttribute.test.ts
  src/features/search/helpers/addHighlightedAttribute/addHighlightedAttribute.ts
  src/features/search/types.ts
Owners: @pass-culture/jeunes-retention

(PC-24618) feat(search): manage item history highlight
  __snapshots__/features/search/components/Highlight/Highlight.native.test.tsx.native-snap
  src/features/search/components/Highlight/Highlight.native.test.tsx
  src/features/search/components/Highlight/Highlight.tsx
Owners: @pass-culture/jeunes-retention

(PC-23862) feat(home): locate home modules according to location mode (#5344)
  src/features/home/api/useGetOffersData.ts
  src/features/home/api/useGetVenuesData.ts
  src/features/home/api/useVideoOffers.ts
  src/features/home/components/modules/RecommendationModule.tsx
  src/features/search/pages/modals/LocationModal/LocationModal.tsx
Owners: @pass-culture/jeunes-activation, @pass-culture/jeunes-retention

(PC-24618) feat(search): use item history highlight
  src/features/search/components/SearchHistory/SearchHistory.native.test.tsx
  src/features/search/components/SearchHistory/SearchHistory.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.native.test.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.tsx
Owners: @pass-culture/jeunes-retention

(PC-24419) feat(featureFlag): add a featureFlag & fix UI
  __snapshots__/features/search/components/sections/Category/Category.native.test.tsx.native-snap
  __snapshots__/features/search/pages/SearchFilter/SearchFilter.native.test.tsx.native-snap
  __snapshots__/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx.native-snap
  src/features/search/components/FilterRow/FilterRow.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesSection.tsx
  src/libs/algolia/fetchAlgolia/fetchSearchResults/fetchSearchResults.ts
  src/libs/firebase/firestore/featureFlags/getFeatureFlag.native.test.ts
  src/libs/firebase/firestore/featureFlags/useFeatureFlag.native.test.ts
  src/libs/firebase/firestore/types.ts
  src/ui/components/radioButtons/RadioButton.tsx
Owners: @pass-culture/jeunes-retention

(PC-24419) fix(fetchSearchResults): update test
  src/libs/algolia/fetchAlgolia/fetchSearchResults/fetchSearchResults.test.ts
Owners: none

(PC-23744) feat(filter): add venue search filter (#5351)
  __snapshots__/features/search/pages/modals/VenueModal/VenueModal.native.test.tsx.native-snap
  src/features/internal/cheatcodes/pages/Navigation/Navigation.tsx
  src/features/location/components/LocationModal.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/HiddenAccessibleResultNumber.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedPlaces.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedResult.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.native.test.tsx
  src/features/search/pages/SuggestedPlacesOrVenues/SuggestedVenues.tsx
  src/features/search/pages/modals/VenueModal/VenueModal.native.test.tsx
  src/features/search/pages/modals/VenueModal/VenueModal.tsx
  src/features/search/pages/modals/VenueModal/VenueModal.web.test.tsx
  src/tests/utils/web.tsx
  src/ui/svg/icons/LocationBuildingFilled.tsx
  src/ui/theme/useCustomSafeInsets.tsx
Owners: @pass-culture/jeunes-retention

:bug: (SignupForm) fix test index for accessibility
  src/features/auth/pages/signup/SignupForm.web.test.tsx
Owners: @pass-culture/jeunes-acquisition

:bug: (Signup) Fix act and msw warning in page
  src/features/auth/pages/signup/SignupConfirmationEmailSent/SignupConfirmationEmailSent.native.test.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/SignupConfirmationEmailSentPage.native.test.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/SignupConfirmationEmailSentPage.web.test.tsx
  src/features/auth/pages/signup/SignupForm.native.test.tsx
  src/features/auth/pages/signup/SignupForm.web.test.tsx
Owners: @pass-culture/jeunes-acquisition

(PC-24593) feat(EmailResend): add display of attempts left (#5359)
  __snapshots__/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx.native-snap
  src/features/auth/api/useEmailValidationRemainingResend.ts
  src/features/auth/api/useResendEmailValidation.ts
  src/features/auth/pages/signup/SetBirthday/SetBirthday.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailAttemptsLeft.stories.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailAttemptsLeft.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.native.test.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/EmailResendModal.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/SignupConfirmationEmailSent.native.test.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/SignupConfirmationEmailSentPage.native.test.tsx
  src/features/auth/pages/signup/SignupConfirmationEmailSent/SignupConfirmationEmailSentPage.web.test.tsx
  src/features/auth/pages/signup/SignupForm.native.test.tsx
  src/features/auth/pages/signup/SignupForm.web.test.tsx
  src/features/bookOffer/components/BookingDetails.tsx
  src/features/identityCheck/components/modals/ParentInformationModal.tsx
  src/features/identityCheck/pages/Stepper.tsx
  src/features/identityCheck/pages/identification/educonnect/EduConnectForm.web.tsx
  src/features/identityCheck/pages/profile/SetName.tsx
  src/features/internal/cheatcodes/pages/AppComponents/AppComponents.tsx
  src/features/profile/components/Badges/IdentityCheckPendingBadge.tsx
  src/features/profile/components/Badges/SubscriptionMessageBadge.tsx
  src/features/profile/components/Badges/YoungerBadge.tsx
  src/features/profile/pages/PersonalData/PersonalData.tsx
  src/features/search/components/SearchListHeader/SearchListHeader.tsx
  src/features/search/pages/modals/PriceModal/PriceModal.tsx
  src/features/trustedDevice/components/DeviceInformationsBanner.tsx
  src/features/tutorial/pages/profileTutorial/ProfileTutorialAgeInformation.tsx
  src/libs/queryKeys.ts
  src/theme/index.ts
  src/ui/components/banners/AlertBanner.stories.tsx
  src/ui/components/banners/AlertBanner.tsx
  src/ui/components/banners/ErrorBanner.stories.tsx
  src/ui/components/banners/ErrorBanner.tsx
  src/ui/components/banners/GenericColoredBanner.stories.tsx
  src/ui/components/banners/GenericColoredBanner.tsx
  src/ui/components/banners/InfoBanner.stories.tsx
  src/ui/components/banners/InfoBanner.tsx
  src/ui/components/inputs/EmailInputWithSpellingHelp/SpellingHelp.tsx
  src/ui/svg/icons/BicolorWarning.tsx
  src/ui/theme/colors.ts
Owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-retention, @pass-culture/jeunes-activation

(PC-24419) test(CategoriesModal): after review change wording
  src/features/search/components/sections/Category/Category.native.test.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesModal.web.test.tsx
Owners: @pass-culture/jeunes-retention

ThematicHome: remove unused property
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

(PC-23965) ThematicHome: show geolocation banner when user is not located
  __snapshots__/features/home/pages/ThematicHome.native.test.tsx.native-snap
  src/features/home/pages/ThematicHome.native.test.tsx
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

ThematicHome: rename component for more clarity
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

(PC-24419) feat(featureFlag): add a featureFlag (#5363)
  __snapshots__/features/search/components/sections/Category/Category.native.test.tsx.native-snap
  __snapshots__/features/search/pages/SearchFilter/SearchFilter.native.test.tsx.native-snap
  __snapshots__/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx.native-snap
  src/features/search/components/FilterRow/FilterRow.tsx
  src/features/search/components/sections/Category/Category.native.test.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesModal.web.test.tsx
  src/features/search/pages/modals/CategoriesModal/CategoriesSection.tsx
  src/libs/algolia/fetchAlgolia/fetchSearchResults/fetchSearchResults.test.ts
  src/libs/algolia/fetchAlgolia/fetchSearchResults/fetchSearchResults.ts
  src/libs/firebase/firestore/featureFlags/getFeatureFlag.native.test.ts
  src/libs/firebase/firestore/featureFlags/useFeatureFlag.native.test.ts
  src/libs/firebase/firestore/types.ts
  src/ui/components/radioButtons/RadioButton.tsx
Owners: @pass-culture/jeunes-retention

(PC-23965) feat(ThematicHome): add geolocation banner (#5364)
  __snapshots__/features/home/pages/ThematicHome.native.test.tsx.native-snap
  src/features/home/pages/ThematicHome.native.test.tsx
  src/features/home/pages/ThematicHome.tsx
Owners: @pass-culture/jeunes-activation

(PC-24698) fix(useShowReview): Do not ask for review when app is in background
  src/libs/hooks/__tests__/useShowReview.native.test.tsx
  src/libs/hooks/useShowReview.ts
Owners: none

CODEOWNERS:

src/features/auth/                                   @pass-culture/jeunes-acquisition
src/features/birthdayNotifications/                  @pass-culture/jeunes-activation
src/features/bookings/                               @pass-culture/jeunes-retention
src/features/bookOffer/                              @pass-culture/jeunes-retention
src/features/cookies/                                @pass-culture/jeunes-acquisition
src/features/culturalSurvey/                         @pass-culture/jeunes-activation
src/features/deeplinks/                              @pass-culture/jeunes-retention
src/features/favorites/                              @pass-culture/jeunes-retention
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/home/                                   @pass-culture/jeunes-activation
src/features/identityCheck/                          @pass-culture/jeunes-activation
src/features/internal/marketingAndCommunication/     @pass-culture/jeunes-retention
src/features/notifications/                          @pass-culture/jeunes-acquisition
src/features/offer/                                  @pass-culture/jeunes-retention
src/features/profile/                                @pass-culture/jeunes-acquisition
src/features/search/                                 @pass-culture/jeunes-retention
src/features/share/                                  @pass-culture/jeunes-acquisition
src/features/trustedDevice                           @pass-culture/jeunes-acquisition
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/venue/                                  @pass-culture/jeunes-retention
