Repository pass-culture/pass-culture-app-native, changes with the owners that CODEOWNERS names for each.
All owners: @pass-culture/jeunes-conversion, @pass-culture/jeunes-activation, @pass-culture/jeunes-decouverte

(PC-29420) refactor(reactions): graphic feedback
  src/features/reactions/components/ReactionChoiceModal/ReactionChoiceModal.tsx
Owners: @pass-culture/jeunes-decouverte

(PC-29952) fix(search): fix icon color
  src/features/search/components/SearchMainInput/SearchMainInput.tsx
Owners: @pass-culture/jeunes-conversion

(PC-29952) fix(search): fix icon color (#6511)
  src/features/search/components/SearchMainInput/SearchMainInput.tsx
Owners: @pass-culture/jeunes-conversion

(PC-30077) feat(module): update venue list module adapter to take a homeEntryId param for web
  src/features/home/components/modules/HomeModule.native.test.tsx
  src/features/home/fixtures/homepage.fixture.ts
  src/features/home/types.ts
  src/libs/contentful/adapters/modules/adaptAppV2VenuesModule.native.test.ts
  src/libs/contentful/adapters/modules/adaptAppV2VenuesModule.ts
  src/libs/contentful/fixtures/appV2VenuesModule.fixture.ts
  src/libs/contentful/types.ts
Owners: @pass-culture/jeunes-decouverte

(PC-30077) feat(VenueListModule): handle venue list module for web and web mobile
  src/features/home/components/modules/VenueListModule.web.test.tsx
  src/features/home/components/modules/VenueListModule.web.tsx
  src/features/home/components/modules/venues/AppV2VenuesModule.web.test.tsx
  src/features/home/components/modules/venues/AppV2VenuesModule.web.tsx
  src/libs/analytics/logEventAnalytics.ts
Owners: @pass-culture/jeunes-decouverte

(PC-30077) refacto(VenueListModule): refacto and remove logic for the web
  src/features/home/components/modules/VenueListModule.native.test.tsx
  src/features/home/components/modules/VenueListModule.tsx
  src/features/home/components/modules/VenueListModuleItem.native.test.tsx
  src/features/home/components/modules/VenueListModuleItem.tsx
Owners: @pass-culture/jeunes-decouverte

(PC-30077) fix(type): avoid dead code export
  src/libs/contentful/types.ts
Owners: none

(PC-30077) fix(snapshot): update venues module snapshot
  __snapshots__/features/home/components/modules/venues/AppV2VenuesModule.native.test.tsx.native-snap
Owners: none

(PC-30077) remarks
  src/features/home/components/modules/HomeModule.native.test.tsx
  src/features/home/components/modules/VenueListModule.web.test.tsx
  src/features/home/components/modules/VenueListModule.web.tsx
  src/features/home/components/modules/VenueListModuleItem.native.test.tsx
  src/features/home/components/modules/venues/AppV2VenuesModule.web.test.tsx
  src/features/home/components/modules/venues/AppV2VenuesModule.web.tsx
  src/features/home/fixtures/homepage.fixture.ts
  src/features/home/types.ts
  src/libs/contentful/adapters/modules/adaptAppV2VenuesModule.ts
Owners: @pass-culture/jeunes-decouverte

CODEOWNERS:

# also update on Sentry https://sentry.passculture.team/settings/sentry/projects/application-native/ownership/

src/features/accessibility                           @pass-culture/jeunes-conversion
src/features/auth/                                   @pass-culture/jeunes-activation
src/features/birthdayNotifications/                  @pass-culture/jeunes-conversion
src/features/bookings/                               @pass-culture/jeunes-conversion
src/features/bookOffer/                              @pass-culture/jeunes-conversion
src/features/cookies/                                @pass-culture/jeunes-activation
src/features/culturalSurvey/                         @pass-culture/jeunes-activation
src/features/deeplinks/                              @pass-culture/jeunes-decouverte
src/features/favorites/                              @pass-culture/jeunes-decouverte
src/features/gtlPlaylist/                            @pass-culture/jeunes-conversion
src/features/home/                                   @pass-culture/jeunes-decouverte
src/features/identityCheck/                          @pass-culture/jeunes-activation
src/features/internal/marketingAndCommunication/     @pass-culture/jeunes-decouverte
src/features/location                                @pass-culture/jeunes-conversion
src/features/notifications/                          @pass-culture/jeunes-activation
src/features/offer/                                  @pass-culture/jeunes-decouverte
src/features/profile/                                @pass-culture/jeunes-activation
src/features/reactions/                              @pass-culture/jeunes-decouverte
src/features/search/                                 @pass-culture/jeunes-conversion
src/features/share/                                  @pass-culture/jeunes-activation
src/features/subscription                            @pass-culture/jeunes-activation
src/features/trustedDevice/                          @pass-culture/jeunes-activation
src/features/tutorial/                               @pass-culture/jeunes-activation
src/features/venue/                                  @pass-culture/jeunes-decouverte
src/features/venueMap                                @pass-culture/jeunes-decouverte
