Repository pass-culture/pass-culture-app-native, changes with the owners that CODEOWNERS names for each.
All owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-activation, @pass-culture/jeunes-retention

test: update test to fit ui change
  __snapshots__/features/search/components/SearchResults/SearchResults.native.test.tsx.native-snap
  __snapshots__/features/search/components/SearchResults/SearchResults.web.test.tsx.web-snap
  src/features/search/components/SearchResults/SearchResults.native.test.tsx
Owners: @pass-culture/jeunes-retention

refactor: rename home location modal
  __snapshots__/features/location/components/HomeLocationModal.native.test.tsx.native-snap
  src/features/location/components/HomeLocationModal.native.test.tsx
  src/features/location/components/HomeLocationModal.tsx
Owners: none

feat: create search location filters : radius slider and digital offer checkbox
  src/shared/location/LocationSearchFilters.tsx
Owners: none

(PC-24839) feat(utm): Store and send utm content to Firebase
  src/features/cookies/CookiesPolicy.ts
  src/features/cookies/enums.ts
  src/features/navigation/RootNavigator/linking/__tests__/getStateFromPath.test.ts
  src/features/navigation/RootNavigator/linking/getStateFromPath.ts
  src/libs/storage.ts
  src/libs/utm/storeUtmParams.test.ts
  src/libs/utm/storeUtmParams.ts
  src/libs/utm/types.ts
Owners: @pass-culture/jeunes-acquisition

(PC-24839) feat(utm): Update route params
  src/features/cookies/helpers/setMarketingParams.native.test.ts
  src/features/cookies/types.ts
Owners: @pass-culture/jeunes-acquisition

(PC-24882) fix(statusType): add conditionnal to get rid off the type error
  src/features/favorites/helpers/getBookingButtonProperties.ts
  src/features/offer/helpers/useCtaWordingAndAction/useCtaWordingAndAction.ts
Owners: @pass-culture/jeunes-retention

(PC-24448) feat(react-instansearch): upgrade lib to V7
  package.json
  yarn.lock
Owners: none

(PC-24448) feat(react-instantsearch): Migrate from React InstantSearch Hooks to React InstantSearch v7
  src/features/search/components/AutocompleteOffer/AutocompleteOffer.native.test.tsx
  src/features/search/components/AutocompleteOffer/AutocompleteOffer.tsx
  src/features/search/components/AutocompleteVenue/AutocompleteVenue.native.test.tsx
  src/features/search/components/AutocompleteVenue/AutocompleteVenue.tsx
  src/features/search/components/BodySearch/BodySearch.native.test.tsx
  src/features/search/components/SearchBox/SearchBox.native.test.tsx
  src/features/search/components/SearchBox/SearchBox.tsx
  src/features/search/components/SearchHeader/SearchHeader.native.test.tsx
  src/features/search/components/SearchHeader/SearchHeader.web.test.tsx
  src/features/search/pages/Search/Search.native.test.tsx
  src/features/search/pages/Search/Search.perf.test.tsx
  src/features/search/pages/Search/Search.tsx
  src/features/search/pages/Search/Search.web.test.tsx
  src/libs/algolia/analytics/InsightsMiddleware.ts
Owners: @pass-culture/jeunes-retention

v1.260.0
  package.json
Owners: none

(PC-24448) fix(Autocomplete): fix code smell
  src/features/search/components/AutocompleteOffer/AutocompleteOffer.tsx
Owners: @pass-culture/jeunes-retention

(BSR) chore(deps): update reviewers for dependabot config
  .github/dependabot.yml
Owners: none

(BSR) chore(deps): update reviewers for dependabot config (#5388)
  .github/dependabot.yml
Owners: none

(PC-23701) fix(CreditModal): remove credit modal for beneficiary +18 without a numeric ceiling (#5383)
  src/features/profile/components/CreditExplanation/useGetCreditModal.test.ts
  src/features/profile/components/CreditExplanation/useGetCreditModal.ts
  src/features/profile/fixtures/domainsCredit.ts
Owners: @pass-culture/jeunes-acquisition

(PC-24797) feat(app): remove use wipAttributesCinemaOffers feature flag
  __snapshots__/features/bookOffer/components/BookingInformations.native.test.tsx.native-snap
  __snapshots__/features/bookings/pages/BookingDetails/BookingDetails.native.test.tsx.native-snap
  src/features/bookOffer/components/BookingInformations.native.test.tsx
  src/features/bookOffer/components/PriceLine.native.test.tsx
  src/features/bookOffer/components/PriceLine.tsx
  src/features/bookings/components/BookingPropertiesSection.native.test.tsx
Owners: @pass-culture/jeunes-retention

(PC-24797) feat(app): remove wipAttributesCinemaOffers feature flag
  src/libs/firebase/firestore/types.ts
Owners: none

(PC-24448) feat(instantsearch): migrate from React InstantSearch Hooks to React InstantSearch v7 (#5386)
  package.json
  src/features/search/components/AutocompleteOffer/AutocompleteOffer.native.test.tsx
  src/features/search/components/AutocompleteOffer/AutocompleteOffer.tsx
  src/features/search/components/AutocompleteVenue/AutocompleteVenue.native.test.tsx
  src/features/search/components/AutocompleteVenue/AutocompleteVenue.tsx
  src/features/search/components/BodySearch/BodySearch.native.test.tsx
  src/features/search/components/SearchBox/SearchBox.native.test.tsx
  src/features/search/components/SearchBox/SearchBox.tsx
  src/features/search/components/SearchHeader/SearchHeader.native.test.tsx
  src/features/search/components/SearchHeader/SearchHeader.web.test.tsx
  src/features/search/pages/Search/Search.native.test.tsx
  src/features/search/pages/Search/Search.perf.test.tsx
  src/features/search/pages/Search/Search.tsx
  src/features/search/pages/Search/Search.web.test.tsx
  src/libs/algolia/analytics/InsightsMiddleware.ts
  yarn.lock
Owners: @pass-culture/jeunes-retention

(PC-24732) refactor(search): export history constants in an external file
  src/features/search/constants.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.native.test.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.ts
Owners: @pass-culture/jeunes-retention

(PC-24732) feat(search): add category and native category label when adding an history item
  src/features/search/helpers/useSearchHistory/useSearchHistory.native.test.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.ts
  src/features/search/types.ts
Owners: @pass-culture/jeunes-retention

(PC-24732) refactor(search): improve useEffect loading history
  src/features/search/helpers/useSearchHistory/useSearchHistory.ts
Owners: @pass-culture/jeunes-retention

(PC-24732) refactor(search): remove logic in search history components to have it directly in parent component
  src/features/search/components/SearchHistory/SearchHistory.native.test.tsx
  src/features/search/components/SearchHistory/SearchHistory.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.native.test.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.tsx
  src/features/search/pages/Search/Search.native.test.tsx
  src/features/search/pages/Search/Search.tsx
Owners: @pass-culture/jeunes-retention

(PC-24732) feat(storybook): add stories to search history components
  src/features/search/components/SearchHistory/SearchHistory.stories.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.stories.tsx
Owners: @pass-culture/jeunes-retention

(PC-24732) refactor(search): fix code smells
  src/features/search/components/SearchHistory/SearchHistory.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.tsx
Owners: @pass-culture/jeunes-retention

(PC-24732) refactor(search): remark
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.tsx
Owners: @pass-culture/jeunes-retention

:recycle: (Cheatcodes) Add scroll to default thematic home header to really show the behaviour of the header
  src/features/internal/cheatcodes/pages/ThematicHomeHeaderCheatcode/DefaultThematicHomeHeaderCheatcode.tsx
Owners: none

fix(android): display header without blur instead of no header at all 😱
  src/ui/components/headers/ContentHeader.tsx
Owners: none

:sparkles: (ContentHeader) Create content header using animatedBlurHeader logic and common styles
  src/ui/components/headers/ContentHeader.stories.tsx
  src/ui/components/headers/ContentHeader.tsx
Owners: none

:fire: (ContentHeader) Remove old animated blur header
  src/ui/components/headers/AnimatedBlurHeader.stories.tsx
  src/ui/components/headers/AnimatedBlurHeader.tsx
Owners: none

:recycle: (ContentHeader) use new component where it is necessary
  __snapshots__/features/bookings/pages/BookingDetails/BookingDetails.native.test.tsx.native-snap
  __snapshots__/features/home/pages/ThematicHome.native.test.tsx.native-snap
  __snapshots__/features/tutorial/pages/profileTutorial/ProfileTutorialAgeInformation.native.test.tsx.native-snap
  __snapshots__/features/venue/pages/Venue/Venue.native.test.tsx.native-snap
  src/features/bookings/components/BookingDetailsHeader.tsx
  src/features/home/components/headers/ThematicHomeHeader.tsx
  src/features/offer/components/OfferHeader/OfferHeader.tsx
  src/features/tutorial/pages/profileTutorial/ProfileTutorialAgeInformation.tsx
  src/features/venue/components/VenueHeader/VenueHeader.tsx
Owners: @pass-culture/jeunes-retention, @pass-culture/jeunes-activation, @pass-culture/jeunes-acquisition

(PC-24757) feat(animatedheaders): etendre le zoom des header n 1 aux headers catégorie (#5382)
  src/features/home/components/headers/AnimatedCategoryThematicHomeHeader.tsx
  src/features/home/pages/ThematicHome.tsx
  src/features/home/types.ts
  src/ui/animations/helpers/useOpacityTransition.ts
Owners: @pass-culture/jeunes-activation

CODEOWNERS:

src/features/auth/                                   @pass-culture/jeunes-acquisition
src/features/birthdayNotifications/                  @pass-culture/jeunes-activation
src/features/bookings/                               @pass-culture/jeunes-retention
src/features/bookOffer/                              @pass-culture/jeunes-retention
src/features/cookies/                                @pass-culture/jeunes-acquisition
src/features/culturalSurvey/                         @pass-culture/jeunes-activation
src/features/deeplinks/                              @pass-culture/jeunes-retention
src/features/favorites/                              @pass-culture/jeunes-retention
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/home/                                   @pass-culture/jeunes-activation
src/features/identityCheck/                          @pass-culture/jeunes-activation
src/features/internal/marketingAndCommunication/     @pass-culture/jeunes-retention
src/features/notifications/                          @pass-culture/jeunes-acquisition
src/features/offer/                                  @pass-culture/jeunes-retention
src/features/profile/                                @pass-culture/jeunes-acquisition
src/features/search/                                 @pass-culture/jeunes-retention
src/features/share/                                  @pass-culture/jeunes-acquisition
src/features/trustedDevice                           @pass-culture/jeunes-acquisition
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/venue/                                  @pass-culture/jeunes-retention
