Repository pass-culture/pass-culture-app-native, changes with the owners that CODEOWNERS names for each.
All owners: @pass-culture/jeunes, @pass-culture/jeunes-retention, @pass-culture/jeunes-acquisition, @pass-culture/jeunes-activation

(PC-17895) fix(ubbleFlow): fix navigation from ubble webview to identity check end (#3768)
  src/features/identityCheck/pages/identification/ubble/UbbleWebview.tsx
  src/features/identityCheck/pages/identification/ubble/UbbleWebview.web.tsx
Owners: @pass-culture/jeunes-activation

(PC-17895) fix(ubbleFlow): navigate explicitly to stepper after identitycheck end (#3770)
  src/features/identityCheck/pages/identification/ubble/IdentityCheckEnd.test.tsx
  src/features/identityCheck/pages/identification/ubble/IdentityCheckEnd.tsx
Owners: @pass-culture/jeunes-activation

v1.209.5
  package.json
Owners: @pass-culture/jeunes

(BSR) feat(tsPrune): add prune:scan and prune:count to scripts in package.json
  package.json
Owners: @pass-culture/jeunes

(PC-17857) feat(bookings): update ended bookings wording
  src/features/bookings/components/EndedBookingItem.native.test.tsx
  src/features/bookings/components/EndedBookingItem.tsx
  src/features/bookings/components/EndedBookingItem.web.test.tsx
Owners: @pass-culture/jeunes-retention

(BSR) feat(tsPrune): add prune:scan and prune:count to scripts in package.json (#3772)
  package.json
Owners: @pass-culture/jeunes

CODEOWNERS:

*                                            @pass-culture/jeunes

src/features/_marketingAndCommunication/     @pass-culture/jeunes-retention      # Pourquoi il y a un _ ?
src/features/auth/                           @pass-culture/jeunes-acquisition
src/features/bookOffer/                      @pass-culture/jeunes-retention
src/features/bookings/                       @pass-culture/jeunes-retention
src/features/cookies/                        @pass-culture/jeunes-acquisition
src/features/culturalSurvey/                 @pass-culture/jeunes-activation
src/features/deeplinks/                      @pass-culture/jeunes-retention      # À déplacer dans libs ?
src/features/eighteenBirthday/               @pass-culture/jeunes-activation     # À déplacer dans achievement ?
src/features/errors/                         @pass-culture/jeunes                # À déplacer hors de features ?
src/features/favorites/                      @pass-culture/jeunes-retention
src/features/firstLogin/                     @pass-culture/jeunes-acquisition
src/features/firstTutorial/                  @pass-culture/jeunes-acquisition
src/features/home/                           @pass-culture/jeunes-activation
src/features/identityCheck/                  @pass-culture/jeunes-activation
src/features/navigation/                     @pass-culture/jeunes                # À déplacer hors de features ?
src/features/notifications/                  @pass-culture/jeunes-acquisition
src/features/offer/                          @pass-culture/jeunes-retention
src/features/profile/                        @pass-culture/jeunes-acquisition
src/features/recreditBirthdayNotification/   @pass-culture/jeunes-activation     # À déplacer dans achievement ?
src/features/search/                         @pass-culture/jeunes-retention
src/features/venue/                          @pass-culture/jeunes-retention

src/features/firstLogin/CulturalSurvey.*     @pass-culture/jeunes-activation     # À déplacer dans features/culturalSurvey ?
