Repository pass-culture/pass-culture-app-native, changes with the owners that CODEOWNERS names for each.
All owners: @pass-culture/jeunes-acquisition, @pass-culture/jeunes-activation, @pass-culture/jeunes-retention

CODEOWNERS:

src/features/auth/                                   @pass-culture/jeunes-acquisition
src/features/birthdayNotifications/                  @pass-culture/jeunes-activation
src/features/bookings/                               @pass-culture/jeunes-retention
src/features/bookOffer/                              @pass-culture/jeunes-retention
src/features/cookies/                                @pass-culture/jeunes-acquisition
src/features/culturalSurvey/                         @pass-culture/jeunes-activation
src/features/deeplinks/                              @pass-culture/jeunes-retention
src/features/favorites/                              @pass-culture/jeunes-retention
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/home/                                   @pass-culture/jeunes-activation
src/features/identityCheck/                          @pass-culture/jeunes-activation
src/features/internal/marketingAndCommunication/     @pass-culture/jeunes-retention
src/features/notifications/                          @pass-culture/jeunes-acquisition
src/features/offer/                                  @pass-culture/jeunes-retention
src/features/profile/                                @pass-culture/jeunes-acquisition
src/features/search/                                 @pass-culture/jeunes-retention
src/features/share/                                  @pass-culture/jeunes-acquisition
src/features/trustedDevice                           @pass-culture/jeunes-acquisition
src/features/tutorial/                               @pass-culture/jeunes-acquisition
src/features/venue/                                  @pass-culture/jeunes-retention

(PC-24600) feat(seach): remarks
  ios/PassCulture.xcodeproj/project.pbxproj
  src/features/search/components/AutocompleteOffer/AutocompleteOffer.tsx
  src/features/search/components/AutocompleteOfferItem/AutocompleteOfferItem.tsx
  src/features/search/components/SearchBox/SearchBox.tsx
  src/features/search/components/SearchHeader/SearchHeader.tsx
  src/features/search/components/SearchHistory/SearchHistory.native.test.tsx
  src/features/search/components/SearchHistory/SearchHistory.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.native.test.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.tsx
  src/features/search/fixtures/mockedSearchHistory.ts
  src/features/search/helpers/useSearchHistory/helpers/getHistoryLessThan30Days.test.ts
  src/features/search/helpers/useSearchHistory/helpers/getHistoryLessThan30Days.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.native.test.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.tsx
  src/features/search/pages/Search/Search.native.test.tsx
  src/features/search/pages/Search/Search.tsx
  src/features/search/types.ts
Owners: @pass-culture/jeunes-retention

(PC-24600) feat(search): add history (#5332)
  .storybook/preview-head.html
  android/app/src/main/assets/fonts/Montserrat-BoldItalic.ttf
  assets/fonts/Montserrat/Montserrat-BoldItalic.ttf
  ios/PassCulture.xcodeproj/project.pbxproj
  ios/PassCulture/Info.plist
  public/index.html
  src/features/search/components/AutocompleteOffer/AutocompleteOffer.native.test.tsx
  src/features/search/components/AutocompleteOffer/AutocompleteOffer.tsx
  src/features/search/components/AutocompleteOfferItem/AutocompleteOfferItem.native.test.tsx
  src/features/search/components/AutocompleteOfferItem/AutocompleteOfferItem.tsx
  src/features/search/components/SearchBox/SearchBox.native.test.tsx
  src/features/search/components/SearchBox/SearchBox.tsx
  src/features/search/components/SearchHeader/SearchHeader.native.test.tsx
  src/features/search/components/SearchHeader/SearchHeader.tsx
  src/features/search/components/SearchHeader/SearchHeader.web.test.tsx
  src/features/search/components/SearchHistory/SearchHistory.native.test.tsx
  src/features/search/components/SearchHistory/SearchHistory.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.native.test.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.tsx
  src/features/search/fixtures/mockedSearchHistory.ts
  src/features/search/helpers/useSearchHistory/helpers/getHistoryLessThan30Days.test.ts
  src/features/search/helpers/useSearchHistory/helpers/getHistoryLessThan30Days.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.native.test.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.ts
  src/features/search/pages/Search/Search.native.test.tsx
  src/features/search/pages/Search/Search.tsx
  src/features/search/types.ts
  src/theme/index.ts
Owners: @pass-culture/jeunes-retention

(PC-24744) feat(search): create function to get history item label
  src/features/search/helpers/getHistoryItemLabel/getHistoryItemLabel.test.ts
  src/features/search/helpers/getHistoryItemLabel/getHistoryItemLabel.ts
Owners: @pass-culture/jeunes-retention

(BSR) feat(sonar): fix 'Unnecessary use of conditional expression for default assignment' issues
  src/features/home/helpers/useHomePosition.ts
  src/ui/components/GenericColoredBanner.tsx
  src/ui/components/SlantTag.tsx
  src/ui/components/spacer/Spacer.tsx
  src/ui/components/tiles/OfferImage.tsx
  src/ui/components/touchableLink/TouchableLink.tsx
Owners: @pass-culture/jeunes-activation

(PC-24744) feat(search): add label to CreateHistoryItem item and generate it when adding item to history
  src/features/search/components/AutocompleteOfferItem/AutocompleteOfferItem.tsx
  src/features/search/components/SearchBox/SearchBox.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.native.test.tsx
  src/features/search/fixtures/mockedSearchHistory.ts
  src/features/search/helpers/useSearchHistory/helpers/getHistoryLessThan30Days.test.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.native.test.ts
  src/features/search/types.ts
Owners: @pass-culture/jeunes-retention

(PC-24744) feat(search): improve accessibility label of history item deletion button
  src/features/search/components/SearchHistory/SearchHistory.native.test.tsx
  src/features/search/components/SearchHistory/SearchHistory.tsx
Owners: @pass-culture/jeunes-retention

(BSR) fix(ios): project file
  ios/PassCulture.xcodeproj/project.pbxproj
Owners: none

(BSR) fix(ios): project file (#5347)
  ios/PassCulture.xcodeproj/project.pbxproj
Owners: none

feat: set tooltip optionnal
  src/features/home/components/headers/HomeHeader.tsx
  src/features/location/components/LocationWidget.native.test.tsx
  src/features/location/components/LocationWidget.stories.tsx
  src/features/location/components/LocationWidget.tsx
  src/features/location/components/LocationWidget.web.test.tsx
Owners: @pass-culture/jeunes-activation

v1.258.1
  package.json
Owners: none

(PC-24682) ci(yarn): POC cache using mansagroup/gcs-cache-action
  .github/workflows/dev_on_push_workflow_main.yml
  .github/workflows/dev_on_workflow_install.yml
  .github/workflows/dev_on_workflow_linter_ts.yml
  .github/workflows/dev_on_workflow_tester.yml
  .github/workflows/dev_on_workflow_ts_prune.yml
  .github/workflows/dev_on_workflow_web_deploy.yml
  .github/workflows/dev_on_workflow_web_proxy_deploy.yml
Owners: none

(PC-21366) track stepper displayed from verify eligibility page
  src/features/auth/pages/signup/VerifyEligiblity/VerifyEligibility.native.test.tsx
  src/features/auth/pages/signup/VerifyEligiblity/VerifyEligibility.tsx
  src/features/navigation/RootNavigator/types.ts
Owners: @pass-culture/jeunes-acquisition

(PC-21366) track stepper displayed from verify eligibility page (#5350)
  src/features/auth/pages/signup/VerifyEligiblity/VerifyEligibility.native.test.tsx
  src/features/auth/pages/signup/VerifyEligiblity/VerifyEligibility.tsx
  src/features/navigation/RootNavigator/types.ts
Owners: @pass-culture/jeunes-acquisition

(PC-24744) refactor(search): label management directly in search history hook
  src/features/search/components/AutocompleteOfferItem/AutocompleteOfferItem.tsx
  src/features/search/components/SearchBox/SearchBox.tsx
  src/features/search/helpers/useSearchHistory/useSearchHistory.native.test.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.ts
  src/features/search/types.ts
Owners: @pass-culture/jeunes-retention

fix: autofocus the input when it is displayed
  src/features/location/components/LocationModal.tsx
Owners: none

v1.259.0
  package.json
Owners: none

(PC-24419) fix(RadioButton): crop the value
  src/ui/components/radioButtons/RadioButton.tsx
Owners: none

(PC-24419) fix(snapshot): update snapshots
  __snapshots__/features/favorites/pages/FavoritesSorts.native.test.tsx.native-snap
  __snapshots__/features/internal/marketingAndCommunication/pages/DeeplinksGenerator.native.test.tsx.native-snap
  __snapshots__/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx.native-snap
  __snapshots__/features/search/pages/modals/LocationModal/LocationModal.native.test.tsx.native-snap
Owners: none

fix: add missing quote
  .github/workflows/dev_on_workflow_environment_ios_deploy.yml
Owners: none

fix: add missing quote (#5352)
  .github/workflows/dev_on_workflow_environment_ios_deploy.yml
Owners: none

(PC-21366) track stepper displayed from verify eligibility page (#5350)
  src/features/auth/pages/signup/VerifyEligiblity/VerifyEligibility.native.test.tsx
  src/features/auth/pages/signup/VerifyEligiblity/VerifyEligibility.tsx
  src/features/navigation/RootNavigator/types.ts
Owners: @pass-culture/jeunes-acquisition

fix: add missing quote (#5352)
  .github/workflows/dev_on_workflow_environment_ios_deploy.yml
Owners: none

v1.258.2
  package.json
Owners: none

prune: remove unused component
  src/ui/components/BottomContentPage.tsx
Owners: none

(PC-24419) fix(RadioButton): crop the value (#5349)
  __snapshots__/features/favorites/pages/FavoritesSorts.native.test.tsx.native-snap
  __snapshots__/features/internal/marketingAndCommunication/pages/DeeplinksGenerator.native.test.tsx.native-snap
  __snapshots__/features/search/pages/modals/CategoriesModal/CategoriesModal.native.test.tsx.native-snap
  __snapshots__/features/search/pages/modals/LocationModal/LocationModal.native.test.tsx.native-snap
  src/ui/components/radioButtons/RadioButton.tsx
Owners: none

(BSR) feat(sonar): fix 'Unnecessary use of conditional expression for default assignment' issues (#5345)
  src/features/home/helpers/useHomePosition.ts
  src/ui/components/GenericColoredBanner.tsx
  src/ui/components/SlantTag.tsx
  src/ui/components/spacer/Spacer.tsx
  src/ui/components/tiles/OfferImage.tsx
  src/ui/components/touchableLink/TouchableLink.tsx
Owners: @pass-culture/jeunes-activation

(PC-24621) fix(useSearchVenueOffers): fix sentry error
  src/api/useSearchVenuesOffer/useSearchVenueOffers.ts
Owners: none

(PC-24682) ci(yarn): POC cache using mansagroup/gcs-cache-action (#5341)
  .github/workflows/dev_on_push_workflow_main.yml
  .github/workflows/dev_on_workflow_install.yml
  .github/workflows/dev_on_workflow_linter_ts.yml
  .github/workflows/dev_on_workflow_tester.yml
  .github/workflows/dev_on_workflow_ts_prune.yml
  .github/workflows/dev_on_workflow_web_deploy.yml
  .github/workflows/dev_on_workflow_web_proxy_deploy.yml
Owners: none

(PC-24744) feat(search): improve accessibility label of history item deletion button (#5346)
  src/features/search/components/SearchHistory/SearchHistory.native.test.tsx
  src/features/search/components/SearchHistory/SearchHistory.tsx
  src/features/search/components/SearchHistoryItem/SearchHistoryItem.native.test.tsx
  src/features/search/fixtures/mockedSearchHistory.ts
  src/features/search/helpers/getHistoryItemLabel/getHistoryItemLabel.test.ts
  src/features/search/helpers/getHistoryItemLabel/getHistoryItemLabel.ts
  src/features/search/helpers/useSearchHistory/helpers/getHistoryLessThan30Days.test.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.native.test.ts
  src/features/search/helpers/useSearchHistory/useSearchHistory.ts
  src/features/search/types.ts
Owners: @pass-culture/jeunes-retention

(PC-24469) rename SimilarOffersResponseParams to RecommendationAPIParams
  src/features/bookOffer/pages/BookingOfferModal.native.test.tsx
  src/features/bookOffer/pages/BookingOfferModal.tsx
  src/features/offer/components/OfferBody/OfferBody.tsx
  src/features/offer/components/OfferTile/OfferTile.native.test.tsx
  src/features/offer/helpers/useCtaWordingAndAction/useCtaWordingAndAction.ts
  src/features/offer/pages/Offer/Offer.native.test.tsx
  src/features/offer/types.ts
Owners: @pass-culture/jeunes-retention

(PC-24469) move RecommendationAPIParams to /shared/offer types
  src/features/bookOffer/pages/BookingOfferModal.native.test.tsx
  src/features/bookOffer/pages/BookingOfferModal.tsx
  src/features/offer/components/OfferBody/OfferBody.tsx
  src/features/offer/components/OfferTile/OfferTile.native.test.tsx
  src/features/offer/helpers/useCtaWordingAndAction/useCtaWordingAndAction.ts
  src/features/offer/pages/Offer/Offer.native.test.tsx
  src/features/offer/types.ts
  src/shared/offer/types.ts
Owners: @pass-culture/jeunes-retention

(BSR) refactor(recommendation): rename hits to offers
  src/features/home/api/useAlgoliaRecommendedOffers.native.test.ts
  src/features/home/api/useAlgoliaRecommendedOffers.ts
  src/features/home/api/useHomeRecommendedOffers.native.test.ts
  src/features/home/api/useHomeRecommendedOffers.ts
  src/features/home/components/modules/HomeModule.native.test.tsx
  src/features/home/components/modules/HomeModule.web.test.tsx
  src/features/home/components/modules/RecommendationModule.native.test.tsx
  src/features/home/components/modules/RecommendationModule.tsx
Owners: @pass-culture/jeunes-activation

(PC-24469) home(recommendationModule): add recommendation api parameters to tiles
  src/features/home/api/useHomeRecommendedOffers.ts
  src/features/home/components/modules/RecommendationModule.native.test.tsx
  src/features/home/components/modules/RecommendationModule.tsx
  src/libs/recommendation/types.ts
  src/libs/recommendation/useHomeRecommendedIdsMutation.native.test.ts
  src/libs/recommendation/useHomeRecommendedIdsMutation.ts
Owners: @pass-culture/jeunes-activation

(PC-24469) rename RecommendationAPIParams to RecommendationApiParams
  src/features/bookOffer/pages/BookingOfferModal.native.test.tsx
  src/features/bookOffer/pages/BookingOfferModal.tsx
  src/features/home/api/useHomeRecommendedOffers.ts
  src/features/home/components/modules/RecommendationModule.tsx
  src/features/offer/components/OfferBody/OfferBody.tsx
  src/features/offer/components/OfferTile/OfferTile.native.test.tsx
  src/features/offer/helpers/useCtaWordingAndAction/useCtaWordingAndAction.ts
  src/features/offer/pages/Offer/Offer.native.test.tsx
  src/features/offer/types.ts
  src/shared/offer/types.ts
Owners: @pass-culture/jeunes-retention, @pass-culture/jeunes-activation

(PC-24621) fix(useSearchVenueOffers): fix sentry error (#5353)
  src/api/useSearchVenuesOffer/useSearchVenueOffers.ts
Owners: none

(PC-24636) feat(TextInput): Add default value prop
  __snapshots__/ui/components/inputs/TextInput.native.test.tsx.native-snap
  src/ui/components/inputs/BaseTextInput.native.test.tsx
  src/ui/components/inputs/BaseTextInput.tsx
  src/ui/components/inputs/TextInput.native.test.tsx
  src/ui/components/inputs/types.ts
Owners: none

fix imports
  src/features/offer/components/OfferBody/OfferBody.tsx
Owners: @pass-culture/jeunes-retention

upgrade node version file in server
  server/.nvmrc
Owners: none

(PC-24469) feat(tracking): add recommendation parameters to consult offer from recommendation module (#5348)
  src/features/bookOffer/pages/BookingOfferModal.native.test.tsx
  src/features/bookOffer/pages/BookingOfferModal.tsx
  src/features/home/api/useAlgoliaRecommendedOffers.native.test.ts
  src/features/home/api/useAlgoliaRecommendedOffers.ts
  src/features/home/api/useHomeRecommendedOffers.native.test.ts
  src/features/home/api/useHomeRecommendedOffers.ts
  src/features/home/components/modules/HomeModule.native.test.tsx
  src/features/home/components/modules/HomeModule.web.test.tsx
  src/features/home/components/modules/RecommendationModule.native.test.tsx
  src/features/home/components/modules/RecommendationModule.tsx
  src/features/offer/components/OfferBody/OfferBody.tsx
  src/features/offer/components/OfferTile/OfferTile.native.test.tsx
  src/features/offer/helpers/useCtaWordingAndAction/useCtaWordingAndAction.ts
  src/features/offer/pages/Offer/Offer.native.test.tsx
  src/features/offer/types.ts
  src/libs/recommendation/types.ts
  src/libs/recommendation/useHomeRecommendedIdsMutation.native.test.ts
  src/libs/recommendation/useHomeRecommendedIdsMutation.ts
  src/shared/offer/types.ts
Owners: @pass-culture/jeunes-retention, @pass-culture/jeunes-activation

get node version from file
  .github/workflows/dev_on_workflow_web_proxy_deploy.yml
Owners: none
